body {
  background: grey;
}
.App {
  width: 100%;
  margin: auto;
  background: white;
  display: inline-flex;
}
.App .site {
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
